.execute-config-modal{
  display: contents;

  ::v-deep(> .el-modal-dialog > .el-overlay-dialog > .el-dialog) {
    max-width: 600px;
    min-width: 400px;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .el-dialog__body {
      flex: 1;
      overflow-y: auto;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 8px;
}
